.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;

}
/* 
потом дизайнер смотрит что все кнопки должны быть
с радиусом как на header_button и делаем везде 
*/
/* 
.button {
    border-radius: 10px;    
} 
*/

/* 
проходит время, прошли года :)
в сознании у нас что все кнопки с радиусом.
но время идет и нам надо быть в тренде 
радиусы уже не в моде. надо удалить радиусы. 
А где это сделать? правильно в button. меняем бац ***
и у нас неожиданое поведение.  
*/
